.container {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.todoInput {
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
  outline: none;
  margin-right: 6px;
}